@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(234, 237, 237) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header-searchIn {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header-searchIcon {
  padding: 5px;
  height: 22px !important;
  background: #cd9042;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header-option {
  display: flex;
  flex-direction: column;
  margin:0 10px 0 10px; 
  color: white;
}

.header-fline {
  font-size: .7em;
}
.header-sline {
  font-size: .8em;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.header-basket {
  display: flex;
  align-items: center;
  color: white;
}

.header-basketC {
  margin: 0 10px 0 10px;
}
.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}


.homeContainer > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  font-weight: bolder;
}

.homeImage {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1),  rgba(0,0,0,0));
}
.homeRow {
  display: flex;
  z-index: 1;
  margin: 0 5px 0 5px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  
}

.productRating {
  display: flex;
}

.productRating >svg{ 
  width: 20px;
  height: 20px;
  color: #f0c14b;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  cursor: pointer;
}
.product:hover {
  border: 2px solid #f0c14b;
  cursor: pointer;
}
.productCategory {
  display: none;
}
.productPrice {
  margin-top: 5px;
}

.productInfo {
  font-weight: 600;
  height: 100px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkoutAd {
  width: 100%;
  height: 140px;    
}
.checkoutRight {
  margin:0 0 0 10px;
}
.checkoutTitle {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.subtotalGift {
  display: flex;
  align-items: center;
}
.subtotalGift > input {
  margin-right: 5px;
}
.subtotal>button {
  background: #f0c14b;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProductImage {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProductInfo {
  padding-left: 20px; 
}
.checkoutProductTitle {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProductRating {
  display: flex;
}

.checkoutProductInfo > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: white;
}

.loginLogo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;

}

.loginContainer {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.loginContainer>h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.loginContainer>form>h5 {
  margin-bottom: 5px;
}
.loginContainer>form> input {
  height: 30px;
  margin-bottom: 10px;
  background: white;
  width: 98%;
}

.loginContainer>p {
  margin-top: 15px;
  font-size: .8em;
}
.loginSignInButton {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.loginRegisButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}

.payment {
  background: white;

}

.paymentContainer > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}
.paymentContainer > h1> a {
  text-decoration: none;
  font-weight: 200;
  color: #111;
}

.paymentSection {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.paymentTitle {
  flex: .4;
}
.paymentAddress, .paymentItem, .paymentDetails {
  flex: .6;
}
.paymentDetails > h3 {
  padding-bottom: 20px;
}
.paymentDetails > form {
  max-width: 400px;
}
.paymentDetails > form > div > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}
.paymentDetails > form > div > button:disabled {
  background: #f1d99c;
  border-color: #57471e #57461d #58471c;
}

.orders {
  padding: 20px 80px;

}
.orders > h1 {
  margin: 30px 0;
}
.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background: white;
  position: relative;
}
.orderId {
  position: absolute;
  top: 40px;
  right: 20px;
}

.orderTotal {
  font-weight: 500;
  text-align: right;
}
.sliderimage {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit:fill;
}

.footer {
  background: #232F3E;
  max-height: 350px;
  font-weight: 200;
}
.footer >hr {
  background-color: lightgray;
}
.footerBack {
  background: #37475a;
  color: white;
  text-align: center;
  height: 50px;
  margin-bottom: 40px;
  cursor: pointer;
  
}
.footerBack > span {
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 19px;
  font-size: 1em;
  font-weight: 400;
}
.footerBack :hover {
  background:  #475b74;
}
.footerNav {
  display: flex;
  color: #ddd8b9;
  display: flex;
  justify-content: center;
  margin:20px 0 0 10px;

}
.fSecondNav {
  border-top: .1px solid #3a4553;
}
.footerNavS {
  margin: 20px;
  cursor: pointer;
}
.footerNavS >h4 {
  padding-bottom: 10px;
  text-align: justify;
}
.footerNavS >ul {
  text-decoration: none;
  list-style: none;
  text-align: justify;
  padding: 0;
  margin: 0;
}
.footerNavS >ul> li:hover {
  text-decoration: underline;
}
.footerNavS >ul> li {
  padding: 3px;
}

.footerOptions {
  background: #232F3E;
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
}
.dollarSign,.country {
  width: 150px;
  height: 15px;
  border: 1px solid #848688;
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: #ccc0a3;
}
.footerNavBig {
  background: #131a22;
  padding: 30px 0;
  font-family: inherit;
  color: #DDD;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}

.nav {
  
  max-width: 100vw;
  margin: 0 auto;
}
.navTableItem {
    font-size: 11px!important;
    padding: .5em 0.75em;
    vertical-align: top;
    text-align: left;
    line-height: 115%;
    cursor: pointer;
    
}
.navTableItem:hover {
  text-decoration: underline;
}
.navTableItem > a {
  font-family: inherit;
  color: white;
  text-decoration: none;
}
.navTableItem > a>span {
    font-size: 10px;
    color: #767676;
    line-height: 110%;
    display: block;
    margin-bottom: 1px;
}
.endFoot {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2em;
}
.endFoot>span,.endFoot>p {
  padding: 5px;
}
.endFoot>span:hover {
text-decoration: underline;
}

.productSell {
  margin: 15px;
  padding: 15px;
}
.productSell>h3 {
  margin-bottom: 25px;
}
.productSellInfo > form {
  display: flex;
  flex-direction: column;
}
.productSellInfo > form>input { 
  width: 30%;
  margin-bottom: 10px;
}
.productSellInfo > label {
  font:bold .3em;
}
.productItem {
  display: flex;
  margin: 50px;   
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  position: relative;
  border-radius: 15px;
}
.productItem > button { 
  background: #f0c14b;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  font-weight: bolder;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.productItem > img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  object-fit: contain;
  margin: 5px;
}
.productItemDetails> p {
  font-size: 1.2em;
  margin: 10px;
}